* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: white;
  font-family: "Courier", "monospace";
}

/*CSS for header and navigation section of the site */

header{
  padding: 20px;
  font-family: "Courier", "monospace";
  color: #FFEEDB;
  font-size: 25px;
  background-color: #BA3B46;
  background-image: url("/starter/images/coding2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: %;
}

header h1 {
  display: inline-block;
}

header nav {
  display: flex;
  justify-content: space-between;
  float: right;
  padding-top: 80px;
  font-size: 40px;
  width: 45%;
  margin-right: 20px;
  list-style-type: none;
}

header a {
  color: #FFEEDB;
}

/*CSS for World of hitesh section*/

.hero-banner {
  padding-top: 50px;
  font-family:"Courier", "monospace";
  color: #FFEEDB;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 50px;
  background-image: url("/starter/images/coding2.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

/*Adding content to main secion of the site*/

main {
  background-color: deepskyblue;
  height: 1200px;
  background-image: url("/starter/images/coding2.webp");
  background-size: cover;
  
}

.page-section {
  display: flex;
  font-style: italic;
}

.aside {
  width: 25vw;
  padding-left: 20px;
  color: #FFEEDB;
  font-size:50px;
  font-family: "Courier", "monospace";
  text-decoration: underline;
  text-decoration-color: #FFEEDB;
}



.name {
  margin-left: 250px;
  width: 50vw;
  color: #FFEEDB;
}


/*Lines 99-164 CSS for the images and grid layout*/

.work-card {
  margin: 20px;
  display: grid;
  min-height: 50px;
  height: 100vh;
  width: 1200px;
  grid-template-areas: 
  "card1 card1"
  "card2 card3"
  "card4 card5";
}

#card1 {
  margin: auto;
  grid-area: card1;
  height: 400px;
  width: 800px;
  
}

#title1 {
  position: relative;
  bottom: 100px;
  color: #FFEEDB;
  margin-top: 5%;
  margin-left: 62.55555%;
  font-family: "Lucida Console", Courier, monospace; 
  font-size: 35px;
}

#card2  {
  grid-area: card2;
  margin: auto;
  height: 150px;
  width: 400px;
}

#title2 {
  position: relative;
  bottom: 40px;
  color: #FFEEDB;
  margin-left: 25%;
  font-size: 25px;
}

#card3 {
  grid-area: card3;
  height: 150px;
  width: 400px;
  margin: auto;
}
#title3 {
  position: relative;
  bottom: 40px;
  color: #FFEEDB;
  margin-left: 25%;
  font-size: 25px;
}
#card4 {
  grid-area: card4;
  height: 150px;
  width: 400px;
  margin: auto;
}

#card5 {
  grid-area: card5;
  height: 150px;
  width: 400px;
  margin: auto;
}

/*CSS for footer*/

#contact-me {
  margin-top: 2%;
}

#contact {
  color: #FFEEDB;
  font-size: 50px;
}

.contact-info {
  width: 800px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  font-size: 20px;
  color: #FFEEDB;
  list-style-type: none;
}

.contact-info a{
  color: #FFEEDB;
}

/* Media Query for even smaller screens */
@media only screen and (min-width: 500px) {
  main {
    background-size: cover !important;
  }  
}

/* For mobile devices */
@media (max-width: 999px) {
  .work-card {
    width: 100%;
    }
  } */

@media (max-width: 767px) {
  header nav {
  width: 80%;
  }
  }


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
